Capfile
config/additional_environment.rb
config/configuration.yml
config/database.yml
config/email.yml
config/initializers/session_store.rb
coverage
db/*.db
db/*.sqlite3
db/schema.rb
deploy*
doc/html
files
lib/redmine/scm/adapters/mercurial/redminehelper.*
log
nbproject
public
REVISION
spec/files
tmp
vendor
.bundle
.DS_Store
.idea
.loadpath
.project
.rvmrc
.yardoc
*.a
*.bundle
*.dylib
*.ipr
*.iml
*.iws
*.komodoproject
*.log
*.o
*.so
*.sw*
*.rbc
*~
*#
