  <% html_title "Exony Project File Loader" -%>
  <p>
    <label>Tracker for project files</label>
    <%= select_tag "settings[tracker_id]", options_from_collection_for_select(Tracker.all, :id, :name, :selected => @settings['tracker_id']) %>
  </p>
  <p><label>Alias for Tracker field</label><%= text_field_tag 'settings[tracker_alias]', @settings['tracker_alias'] %></p>
  <p><label>Max number of tasks to immediately import</label><%= number_field_tag 'settings[instant_import_tasks]', @settings['instant_import_tasks'], :in => 10..100, :step => 5 %></p>

