Congrats, your tasks

<ul>
  <% @issues.each do |issue| -%>
    <li>Tracker: <%= h("#{issue[:tracker_name]}") %> / Issue title: <%=h issue[:title] %></li>
  <% end -%>
</ul>

were successfully imported to project <%= @project.name %>.
<br />
You can find it <%= link_to 'here', @issues_url %>.
