Congrats, your tasks

  <% @issues.each do |issue| -%>
    * <%= h("#{issue.tracker_name}") %>: <%=h issue.title %></li>
  <% end -%>

were successfully imported to project <%= @project.name %>.

You can find it <%= link_to 'here', project_issues_url(@project)%>.
